<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>商品作成</title>
</head>

<body>
	<header class="header">
		<h1>商品作成</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/goods/goodsControl"><button>戻る</butto></a>
		</div>
	</header>

	<form method="post" th:action="@{/goods/goodsCreate}" th:object="${goodsForm}" enctype="multipart/form-data">

		<div class="container">
			<div>
				<label for="name">商品名</label>
				<input type="text" th:field="*{name}">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>
			</div>
			<div>
				<label for="smallCategory">小カテゴリ</label>
				<select id="smallCategory" name="smallCategoryId" th:field="*{smallCategoryId}">
					<option value="" disabled selected>--カテゴリを選択--</option>
					<th:block th:each="c:${smallCategoryList}">
						<option th:value="${c.id}" th:text="${c.name}"></option>
					</th:block>
				</select>
				<span th:if="${#fields.hasErrors('smallCategoryId')}" th:errors="*{smallCategoryId}" class="error" style="color: red;"></span>
			</div>
		</div>

		<div class="container2">
			<label>商品画像</label>
			<input type="file" th:field="*{image}" accept="image/*">
			<p th:if="${#fields.hasErrors('image')}" th:errors="*{image}" style="color:red;"></p>
		</div>

		<div class="container3">
			<label>商品説明</label>
			<input type="text" th:field="*{description}">
			<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></p>
		</div>

		<div class="container4">
			<div>
				<label for="makers">メーカー名</label>
				<select id="makers" name="makersId" th:field="*{makersId}">
					<option value="" disabled selected>--メーカーを選択--</option>
					<th:block th:each="m:${makersList}">
						<option th:value="${m.id}" th:text="${m.name}"></option>
					</th:block>
				</select>
				<span th:if="${#fields.hasErrors('makersId')}" th:errors="*{makersId}" class="error" style="color: red;"></span>
			</div>
			<div>
				<label>仕入れ原価</label>
				<input type="text" th:field="*{costPrice}">
				<p th:if="${#fields.hasErrors('costPrice')}" th:errors="*{costPrice}" style="color: red;"></p>
			</div>
			<div>
				<label>メーカー希望小売価格</label>
				<input type="text" th:field="*{retailPrice}">
				<p th:if="${#fields.hasErrors('retailPrice')}" th:errors="*{retailPrice}" style="color: red;"></p>
			</div>
			<div>
				<label>販売価格</label>
				<input type="text" th:field="*{salesPrice}">
				<p th:if="${#fields.hasErrors('salesPrice')}" th:errors="*{salesPrice}" style="color: red;"></p>
			</div>
		</div>

		<div class="btn">
			<span th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></span>
			<span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></span>
			<button type="submit">作成</button>
		</div>

	</form>

</body>

</html>