<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>商品発注</title>
</head>

<body>
	<header class="header">
		<h1>商品発注</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/goods/goodsControl"><button>戻る</butto></a>
		</div>
	</header>

	<form th:action="@{/goods/goodsOrder}" th:object="${OrderForm}" method="post">
		<div>
			<label>発注店舗</label>
			<p th:text="${storesId}"></p>
			<p th:text="${storesName}"></p>
			<input type="hidden" th:field="*{storesId}" th:value="${storesId}" />
		</div>
		<div>
			<label>発注者</label>
			<p th:text="${usersId}"></p>
			<p th:text="${userName}"></p>
			<input type="hidden" th:field="*{usersId}" th:value="${usersId}" />
		</div>
		<div>
			<label>商品名</label>
			<select th:field="*{goodsId}">
				<option th:each="goods : ${goodsList}" th:value="${goods.id}" th:text="${goods.name}">
				</option>
			</select>
		</div>
		<div>
			<label>個数</label>
			<input type="number" id="quantity" name="quantity" min="1" value="1">
		</div>
		<div>
			<label>小計</label>
			<p></p>
		</div>
		<div>
			<span th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></span>
			<span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></span>
			<button type="submit">発注する</button>
		</div>
	</form>

</body>

</html>