<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/list.css}">
	<title>商品在庫</title>
</head>

<body>
	<header class="header">
		<h1>商品在庫</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/goods/goodsControl"><button>戻る</butto></a>
		</div>
	</header>

	<div class="container">
		<table border="1">
			<tr>
				<th class="width-4">商品名</th>
				<th class="width-1">在庫数</th>
			</tr>
			<tr th:each="stock : ${goodsStockList}">
				<td th:text="${stock.name}">商品名</td>
				<td th:text="${stock.quantity}">0</td>
			</tr>
		</table>
	</div>

</body>

</html>