<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>発注履歴</title>
</head>

<body>
	<header class="header">
		<h1>発注履歴</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/goods/goodsControl"><button>戻る</butto></a>
		</div>
	</header>

	<div class="container">
		<div>
			<label>発注店舗</label>
			<p th:text="${storesId}"></p>
			<p th:text="${storesName}"></p>
		</div>
		<div>
			<label>発注者</label>
			<p th:text="${usersId}"></p>
			<p th:text="${userName}"></p>
		</div>

		<table border="1">
			<tr>
				<th class="Width-1">発注ID</th>
				<th class="width-2">商品名・数量</th>
				<th class="Width-4">発注者ID</th>
				<th class="width-5">発注日時</th>
			</tr>
			<tr th:each="order : ${ordersList}">
			    <td th:text="${order.id}"></td>
			    <td>
			        <span th:each="detail : ${order.orderDetails}">
			            <span th:text="${detail.goods.name}"></span>
			            <span th:text="${detail.quantity}"></span><br/>
			        </span>
			    </td>
			    <td th:text="${order.usersId}"></td>
				<td th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</table>
	</div>

</body>

</html>