<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>商品詳細</title>
</head>

<body>
	<header class="header">
		<h1>商品詳細</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/goods/goodsList"><button>戻る</butto></a>
		</div>
	</header>

	<div class="container">
		<div>
			<label for="goodsId">商品ID</label>
			<p th:text="${goods.id}"></p>
		</div>
		<div>
			<label for="goodsName">商品名</label>
			<p th:text="${goods.name}"></p>
		</div>
		<div>
			<label for="smallCategory">小カテゴリ</label>
			<p th:text="${goods.smallCategory.id}"></p>
		</div>
	</div>

	<div class="container2">
		<label for="goods">商品画像</label>
		<div>
			<img th:src="@{'/img/' + ${goods.image}}" alt="商品画像">
		</div>
	</div>

	<div class="container3">
		<label for="goods">商品説明</label>
		<p th:text="${goods.description}"></p>
	</div>

	<div class="container4">
		<div>
			<label for="makers">メーカー名</label>
			<p th:text="${goods.makers.name}"></p>
		</div>
		<div>
			<label>仕入れ原価</label>
			<p th:text="${goods.costPrice}"></p>
		</div>
		<div>
			<label>メーカー希望小売価格</label>
			<p th:text="${goods.retailPrice}"></p>
		</div>
		<div>
			<label>販売価格</label>
			<p th:text="${goods.salesPrice}"></p>
		</div>
	</div>

	<div class="btn">
		<a th:href="@{/goods/goods/{id}/Edit(id=${goods.id})}">
			<button type="button">編集</button>
		</a>
		<form th:action="@{'/goods/goodsDetail/' + ${goods.id}}" method="post" onsubmit="return confirm('本当に削除しますか？');">
			<button type="submit">商品削除</button>
		</form>
	</div>

</body>

</html>