<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>メーカー作成画面</title>
</head>
<body>

	<header class="header">
		<h1>メーカー作成</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/makers/makersControl"><button>戻る</butto></a>
		</div>
	</header>
	
	<div class="create">
		<form method="post" th:action="@{/makers/makersCreate}" th:objet="${makersForm}">
			<div class="container">	
				<p>メーカー名</p>
				<input type="text" th:field="*{name}">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>
			</div>
			<div class="bth">
				<span th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></span>
				<button type="submit">メーカー作成</button>
			</div>
		</form>
	</div>

</body>
</html>