<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>メーカー編集</title>
</head>

<body>
	<header class="header">
		<h1>メーカー編集</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/makers/makersList"><button>戻る</button></a>
		</div>
	</header>

	<div>
		<form method="post" th:action="@{/makers/makers/{id}/Edit(id=${makers.id})}" th:object="${makers}">

			<div class="container">
				<div>
					<label>メーカーID</label>
					<p th:text="${id}"></p>
				</div>
				<div>
					<label>メーカー名</label>
					<input type="text" th:field="*{name}">
					<p th:text="${name}"></p>
				</div>
			</div>

			<div class="btn">
				<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
				<span th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></span>
				<button type="submit">更新</button>
			</div>

		</form>
	</div>

</body>

</html>