<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/maker/maker.css}">
	<title>メーカー詳細</title>
</head>

<body>

	<header class="header">
		<h1>メーカー詳細</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/makers/makersList"><button>戻る</button></a>
		</div>
	</header>

	<div class="container">
		
		<div class="maker_box">
			<div>
				<p>メーカーID：<span th:text="${makers.id}"></span></p>
			</div>
			<div>
				<p>メーカー名：<span th:text="${makers.name}"></span></p>
			</div>
		</div>

		<div class="maker_bth">
			<a th:href="@{/makers/makers/{id}/Edit(id=${makers.id})}">
				<button type="button">編集する</button>
			</a>
		</div>
		
	</div>

</body>

</html>