<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Geek_Top</title>
</head>

<body>
	<header class="header">
		<h1>メーカー管理</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/home"><button>戻る</butto></a>
		</div>
	</header>
	<div class="top">
		<div>
			<a href="/makers/makersList"><button>メーカー一覧</butto></a>
		</div>
		<div>
			<a href="/makers/makersCreate"><button>メーカー作成</butto></a>
		</div>
	</div>
</body>