<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>管理者編集</title>
</head>

<body>
	<header class="header">
		<h1>店舗編集</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/stores/stores/{id})"><button>戻る</button></a>
		</div>
	</header>

	<div>
		<form method="post" th:action="@{/stores/stores/{id}/Edit(id=${storesId})}" th:object="${stores}">

			<div class="container">
				<div>
					<label>店舗ID</label>
					<p th:text="${id}"></p>
				</div>
				<div>
					<label>店舗名</label>
					<p th:text="${name}"></p>
				</div>
				<div>
					<label>住所</label>
					<input type="text" th:field="*{address}">
					<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red"></p>
				</div>
			</div>

			<div class="btn">
				<button type="submit">更新</button>
			</div>

		</form>
	</div>

</body>

</html>