<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/category/category.css}">
	<title>大カテゴリ一覧</title>
</head>

<body>

	<header class="header">
		<h1>大カテゴリ一覧</h1>
		<div class="box">
			<form th:action="@{/login}" method="post">
				<button type="submit" class="loguot">ログアウト</button>
			</form>
			<a href="/home"><button>戻る</button></a>
		</div>
	</header>
	
	<div class="container">
		<table border="1">
			<tr>
				<th class="width-1">大カテゴリID</th>
				<th class="width-2">大カテゴリ名</th>
				<th class="width-3">中カテゴリへ</th>
			</tr>
			<tr th:each="largeCategory : ${largeCategoryList}">
				<td><span th:text="${largeCategory.id}"></span></td>
				<td><span th:text="${largeCategory.name}"></span></td>
				<td><a th:href="@{'/category/middleCategoryList/'+${largeCategory.id}}">中カテゴリ</a></td>
			</tr>
		</table>
	</div>

</body>

</html>