@charset "UTF-8";

.top button {
	width: 160px;
	height: 50px;
	margin: 20px 0 0 40px;
	font-size: 24px;
	background-color: limegreen;
}

.top button:hover {
	background-color: green;
}

.top button:active {
	background-color: limegreen;
}

.profile{
	width: 600px;
	margin: 20px;
	padding: 10px;
	background-color: lightgreen;
}

.profile a{
	color: blue;
}