@charset "UTF-8";

.btn button{
	font-size: 24px;
	width: 160px;
	height: 40px;
	background-color: green;
}
.btn{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.btn button{
	background-color: green;
}
.btn button:hover {
	background-color: limegreen;
}

.btn button:active {
	background-color: green;
}

.container div{
	display: flex;
}