<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Geek_Top</title>
</head>
<body>
	<header class="header">
		<h1>GeekシステムTOP</h1>
		<button class="loguot">ログアウト</button>
	</header>
	<container class="top">
		<div>
			<button>店舗管理</button>
		</div>
		<div>
			<button>商品管理</button>
		</div>
		<div>
			<button>カテゴリ管理</button>
		</div>
		<div>
			<button>メーカ管理</button>
		</div>
		<div>
			<button>管理者管理</button>
		</div>
	</container>
</body>
</html>