<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<title>ログイン画面</title>
</head>
<body>
	
	<header class="header">
		<h1>GeekシステムTOP</h1>
	</header>
	
	<container>
		<from>
			<table border="0">
				<tr>
					<td>Email</td>
					<td><input type="email" name="email"></td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td><input type="password" name="password"></td>
				</tr>
			</table>
			<div class="login">
				<input type="submit" value="ログイン">
			</div>
		</from>
	</container>
	
</body>
</html>